/*.username::before{
	content:"AA";
	background:url('https://files.catbox.moe/rowfl7.png');
	background-size:16px !important;
	background-repeat:no-repeat !important;
	color:rgba(0,0,0,0);
	text-shadow: none !important;
}*/

#chatwrap{padding-bottom:0; padding-top:0; padding-right:15px; padding-left:15px; margin:0; opacity:0.975;}
#videowrap{padding-bottom:10px; padding-top:0; padding-right:15px; padding-left:15px; margin:0;}
#videowrap-header{background-color: #1C1E22; border-color: #444444;}
#motdwrap{display: none! important;}

.glyphicon.glyphicon-star-empty {
	animation: leader 1s infinite;
}
@keyframes leader {
	0%   {color: #c8c8c8}
	50%  {color: #818181}
	100% {color: #c8c8c8}
}

.queue_entry{border-color: #444444}

/* Scrollbars (Firefox) */
* {
  scrollbar-width: thin; /* options: auto, thin, none */
  scrollbar-color: rgb(70, 70, 70) #161a20; /* thumb color, track color */
}

/* Scrollbars (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #161a20;
}

::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70);
  box-shadow: inset 0 0 6px rgba(49, 49, 49, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(51, 51, 51, 0.6);
}

@keyframes poll {
	0%   { color: rgb(97, 189, 218); }
	50%  { color: rgb(0, 112, 187); }
	100% { color: rgb(31, 208, 231); }
  }
  
.poll-notify {
	animation: poll 0.5s infinite;
}

.spoiler a {
    color: #000000;
    background-color: #000000;
    opacity: 0;
}

.spoiler:hover a {
    color: #ffffff;
    opacity: 1;
}

.nick-highlight {
    background-color: #272B30;
}

.userlist_owner, .userlist_op, .userlist_item, .userlist_guest{
	box-sizing: border-box;
	color: #9b9b9b !important;
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13.3333px;
	line-height: 19.05px;
	font-weight: 400 !important;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

.userlist_owner, .userlist_op, .userlist_item {
	font-weight: 700 !important;
	color: #c8c8c8 !important;
}

.username {
	box-sizing: border-box;
	color: #c8c8c8 !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	overflow-wrap: break-word;
	white-space-collapse: preserve;
	text-wrap-mode: wrap;
}

.timestamp {
	box-sizing: border-box;
	color: #888888 !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10.6667px;
	line-height: 15.2333px;
	overflow-wrap: break-word;
	white-space-collapse: preserve;
	text-wrap-mode: wrap;
}

#modflair{
	display: none;
	pointer-events: none;
}

.qe_user, .qe_endTime {
    float: right;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-right: 2pt
}

.qe_time {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

@keyframes rollDubs {
	0%   { color: rgb(31, 231, 98); }
	50%  { color: rgb(28, 163, 73); }
	100% { color: rgb(31, 231, 98);}
  }
  
  @keyframes rollMax {
	0%   { color: rgb(252, 236, 19); }
	50%  { color: rgb(167, 156, 12); }
	100% { color: rgb(252, 236, 19);}
  }
  
  .roll-dubs {
	font-weight: bold;
	animation: rollDubs 0.5s infinite;
  }
  
  .roll-max {
	font-weight: bold;
	animation: rollMax 0.25s infinite;
  }

  .glyphicon.glyphicon-star-empty {
	font-weight: 700;
  }

/*CSS pretty much complete now, anyone should be able to edit it. Backup at http://pastebin.com/FcpGvxi6 and http://pastebin.com/5Jz6980X*/
/*Try to adhere to the formatting if you're going to add new code*/
/*Backup of emotes is in the javascript section*/
/*Limits the size of the image from the picture embeds*/
#messagebuffer.linewrap img, #messagebuffer.linewrap video{max-width: 300px; max-height: 300px;}
.profile-image { width:125px; height:auto; max-height:300px;}
.profile-box {max-width: 137px; max-height: 500px !important;}
.modal-dialog{
width: 90%;}
 
.panel-primary {
border-color: white !important;
}
 
.panel-primary > .panel-heading {
    background-color:black !important;
    border-color: white !important;
}
/*Adds image to the user list window*/
#userlist {
            font-size: 10pt;
            background-color: #1C1E22;
            background-image: url(https://dl.dropboxusercontent.com/scl/fi/lo48sbm2triv5b84x7r5x/jun.png?rlkey=287w0ev2wcbjts7lxji7as847&st=2hdqqxbm&dl=0);
            background-position: bottom center;
            background-repeat: no-repeat;}
 
/*Wallpaper*/
/*Kud: http://i.imgur.com/ncl4gby.jpg*/
/*Miku: http://i.imgur.com/ivMqyoM.jpg, http://i.imgur.com/Au1bWKb.jpg*/
/*Original Paper: http://puu.sh/7QUn8.png*/
/*Komori: http://i.imgur.com/X5CH02Y.jpg*/
/*Oranges: http://www.nectarcafenj.com/files/oranges.jpg)*/
/*Botes: http://puu.sh/aHrs6/2e36260f66.jpg*/
/* halloween cuteness http://puu.sh/c2Uxe.png */
body {
background-image:url(https://dl.dropboxusercontent.com/scl/fi/l4ib85kakvgb3zy3ybhgd/jun_bg.jpg?rlkey=15nl9a52rpsilme38t25hrmdg&st=u3kl3evt&dl=0);
background-position: bottom right; background-attachment: fixed; background-size: cover;            
/*background-position: bottom left;*/
            /*background-attachment: fixed;*/
            /*background-size: fit;*/
            /*-webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;*/
}
 
/*Changes the color of the textA1FBFF*/
body, header, p, a, #mainpage {color:#c8c8c8 !important;}
body {
    overflow-x: hidden !important;
  }
 
/*Footer*/
P.text-muted.credit {font-size: 0px;} /*This part removes the previous text*/
P.text-muted.credit:after {content: "In Memorial of Xebec (1995-2019) ;-;"; font-size: 14px;} /*Footer Text*/
FOOTER#footer {opacity: 0.9;}
 
/*Adds suffix to messages*/
/*#messagebuffer div:after{content: "~de arimasu";}*/
 
/*Alternate message backgrounds*/
/*Alternate message backgrounds*/
#messagebuffer {background-color: #272B30;}
/*#messagebuffer div:nth-child(even) {background-color: #444444;}
#messagebuffer div:nth-child(odd) {background-color: #272B30;}
#messagebuffer div.nick-hover{ background-color: #111122;}
#messagebuffer div.nick-highlight, #messagebuffer div.nick-highlight > a{ color: #FFFFFF;}*/
 
/*Background for easier reading of some shit*/
DIV#plmeta, DIV#chatheader, P#currenttitle, DIV#plmeta {background-color: #1C1E22;}
#currenttitle, #chatheader, #messagebuffer, #userlist, #guestlogin, #chatline, #plmeta {border-color:#444444;}

#chatClock {
    display: flex;
    align-items: center;
	justify-content: center;
    flex-wrap: wrap;

    background-color: rgb(28, 30, 34);

    border-top: 1px solid rgb(68, 68, 68);
    border-right: 1px solid rgb(68, 68, 68);
    border-bottom: 0px solid rgb(68, 68, 68);
    border-left: 1px solid rgb(68, 68, 68);

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

    box-sizing: border-box;
    color: rgb(200, 200, 200);

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
}

#chatheader {
	border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	border-top: none;
}

/*Chat Icons*/
.username::before{background:url('https://dl.dropboxusercontent.com/scl/fi/e6fr3cer9ffeupz5a7whn/jun.png?rlkey=nnj5cmdckkl6mcygxma7110u9&st=k1wg625t&dl=0');}
.teamazusa::before{background:url('https://dl.dropboxusercontent.com/scl/fi/187l9yqa7079bstz0kn5o/azusa.png?rlkey=eu8h4tvc76mgpgqt6vvzzaxfh&st=nfiil482&dl=0');}
.teamtsukiko::before{background:url('https://dl.dropboxusercontent.com/scl/fi/psemdq0wpvgwr29a3cuap/tsukiko.png?rlkey=0w575urf18s5pfgi4vruhwerz&st=ncdigwvw&dl=0');}
.teamakane::before{background:url('https://dl.dropboxusercontent.com/scl/fi/btu2ruzppvvwsct2by9w4/akane.png?rlkey=tu5ofsnr7wup5umowmlribn6e&st=tbeknrtg&dl=0');}
.teamaoi::before{background:url('https://dl.dropboxusercontent.com/scl/fi/r2cjcpjtidzmebx0lb1wh/aoi.png?rlkey=ux6z08syhm4ilri4be1gw4gug&st=whfqre9o&dl=0');}
.teamzundamon::before{background:url('https://dl.dropboxusercontent.com/scl/fi/6l5btp6877xv9q9z5v3bv/zundamon.png?rlkey=rw9g4ejsgbqy616896rhshcs9&st=gaj8phaw&dl=0');}
.teamkiritan::before{background:url('https://dl.dropboxusercontent.com/scl/fi/u0f1uzrn7t00cr3ctqvd7/kiritan.png?rlkey=2y9q4xh8h1ifds8mfx75k0pa8&st=tndpc4t9&dl=0');}
.teamakari::before{background:url('https://dl.dropboxusercontent.com/scl/fi/92v6vegvlx2sqpe04irkn/akari.png?rlkey=ufogjng0cptuof12qoo7j85og&st=z7e6g3zr&dl=0');}
.teamyukari::before{background:url('https://dl.dropboxusercontent.com/scl/fi/3f0ab49d0iqfv1w5jchi4/yukari.png?rlkey=c4sbjgwyx7mtigon1bvx4ne72&st=qetejil2&dl=0');}
.teamusagi::before{background:url('https://dl.dropboxusercontent.com/scl/fi/oukaii8aejxf9d098ef66/usagi.png?rlkey=iro15oylrrt30ro63rj3wl34o&st=vbc4ax6c&dl=0');}
.teamshinobu::before{background:url('https://dl.dropboxusercontent.com/scl/fi/ehrfkhjevm5xuhm64ah38/shinobu.png?rlkey=5rmgfnkeont78w8etj1m6tutx&st=gjd07bjy&dl=0');}
.teamhachikuji::before{background:url('https://dl.dropboxusercontent.com/scl/fi/vu6zbdddby5clyrg0j2gk/hachikuji.png?rlkey=n5yamf5rwxpdf2nx829bix26n&st=73dxg8nn&dl=0');}
.teamougi::before{background:url('https://dl.dropboxusercontent.com/scl/fi/7fik5zc7t6ileocqevkwi/ougi.png?rlkey=m2ht38l0bjsubqgbsw07z8qmm&st=5enomds1&dl=0');}
.teamhachiroku::before{background:url('https://dl.dropboxusercontent.com/scl/fi/jurohdddlblzq5xuqr125/hachiroku.png?rlkey=j4ht6aeqbokhpoy9hofo66n3o&st=ztdqw5oz&dl=0');}
.teamrika::before{background:url('https://dl.dropboxusercontent.com/scl/fi/e65hyekvcdfnjtjwl7wua/rika.png?rlkey=ah2kv0igvp6kpc9wrcneydgnx&st=lamnms32&dl=0');}
.teamhanyuu::before{background:url('https://dl.dropboxusercontent.com/scl/fi/5kyv7mhce8a2fidjls9ii/hanyuu.png?rlkey=riv27au2r3o2hktyxacecbqq1&st=0sp7kvx7&dl=0');}
.teamarisu::before{background:url('https://dl.dropboxusercontent.com/scl/fi/rh7l5llipr7tva212wyuv/arisu.png?rlkey=37dr3ev408qo2j4v8pynv3q4i&st=udyni8xl&dl=0');}
.teammurasame::before{background:url('https://dl.dropboxusercontent.com/scl/fi/45ch12nu35c9vsxjzpks6/murasame.png?rlkey=4pphkw2p5mwytzoh61pmnjens&st=bmch1vop&dl=0');}
.teamlum::before{background:url('https://dl.dropboxusercontent.com/scl/fi/9hphvc1qxlmmb3czbgje4/lum.png?rlkey=l3h76nvtt2ve00n60p4dvy9yk&st=y0p7twkg&dl=0');}
.teamliru::before{background:url('https://dl.dropboxusercontent.com/scl/fi/h8dn67rxmboowgmd8aay0/liru.png?rlkey=tjjcyincetb4nv903uhl7qzmq&st=5stq4dp1&dl=0');}
.teamdokuro::before{background:url('https://dl.dropboxusercontent.com/scl/fi/j8uyay6u0go37sdujxcrq/dokuro.png?rlkey=esqjjfr6nwrgz5zb2ln27rzxq&st=xxpf78o4&dl=0');}
.teamsabato::before{background:url('https://dl.dropboxusercontent.com/scl/fi/wv66i1zjhoffm39wslgpy/sabato.png?rlkey=vhrvk28h1ds99vma1fsw93pr9&st=yyzyhehp&dl=0');}
.teamkomugi::before{background:url('https://dl.dropboxusercontent.com/scl/fi/sugic905cfxl57kpo2pad/komugi.png?rlkey=4mq4g6txpetf1mkd58s46f889&st=yaqre69z&dl=0');}
.teamkoyori::before{background:url('https://dl.dropboxusercontent.com/scl/fi/cprvt94p4qbzuzsra606c/koyori.png?rlkey=ruyisel6euytu7zqfuwe77q0n&st=onasrthb&dl=0');}
.teamdejiko::before{background:url('https://dl.dropboxusercontent.com/scl/fi/9kefl7x7ho54nvvup2qlg/dejiko.png?rlkey=4fnvsrn2vtta3ufv1cfcfp5ic&st=c9w7anqf&dl=0');}
.teampuchiko::before{background:url('https://dl.dropboxusercontent.com/scl/fi/aiq7dq6broeuk7kwpxaz4/puchiko.png?rlkey=w565ei2qlij0mqb70od91an9s&st=bmzous4s&dl=0');}
.teamusada::before{background:url('https://dl.dropboxusercontent.com/scl/fi/13g4gdgim2ktswvflkg22/usada.png?rlkey=f5mtvdot9wcr914npwrv2es1e&st=wj40m5tk&dl=0');}
.teamjun::before{background:url('https://dl.dropboxusercontent.com/scl/fi/e6fr3cer9ffeupz5a7whn/jun.png?rlkey=nnj5cmdckkl6mcygxma7110u9&st=k1wg625t&dl=0');}
.username::before{
    content:"AA";
	display: inline-block;
    background-size:20px 20px !important;
    background-repeat:no-repeat !important;
    color:rgba(0,0,0,0);
}

/* Chat message coloring */
.username.teamazusa {
    color: #30e7a1 !important;
}

.username.teamtsukiko {
    color: #30cce7 !important;
}

.username.teamakane {
    color: #fca8c4 !important;
}

.username.teamaoi {
    color: #8ed2f1 !important;
}

.username.teamzundamon {
    color: #73ff7f !important;
}

.username.teamkiritan {
    color: #c07272 !important;
}

.username.teamakari {
    color: #ffc558 !important;
}

.username.teamyukari {
    color: #99769c !important;
}

.username.teamusagi {
    color: #ff3131 !important;
}

.username.teamshinobu {
    color: #fff34b !important;
}

.username.teamhachikuji {
    color: #267e2d !important;
}

.username.teamougi {
    color: #ffffff !important;
}

.username.teamhachiroku {
    color: #dd858e !important;
}

.username.teamrika {
    color: #5d93f8 !important;
}

.username.teamhanyuu {
    color: #c1a7e4 !important;
}

.username.teamarisu {
    color: #d8c89f !important;
}

.username.teammurasame {
    color: #a0e6a3 !important;
}

.username.teamlum {
    color: #67c4b4 !important;
}

.username.teamliru {
    color: #e7ad6b !important;
}

.username.teamdokuro {
    color: #848cfd !important;
}

.username.teamsabato {
    color: #f3f2c4 !important;
}

.username.teamkomugi {
    color: #ff79b8 !important;
}

.username.teamkoyori {
    color: #2546ff !important;
}

.username.teamdejiko {
    color: #7ec07b !important;
}

.username.teampuchiko {
    color: #d39437 !important;
}

.username.teamusada {
    color: #ff008c !important;
}

.username.teamjun {
    color: #89b6da !important;
}
 
/*For the spinning images*/
.spin, .spintext{
            -webkit-animation: spin 5ms linear infinite;
            -moz-animation: spin 5ms linear infinite;
            animation: spin 5ms linear infinite;}

.spintext {
    display: inline-block; /* Required for transform to work properly */
}

@-webkit-keyframes spin {100% {-webkit-transform: rotate(360deg); transform:rotate(360deg);}}
@-moz-keyframes spin {100% {-moz-transform: rotate(360deg); transform:rotate(360deg);}}
@keyframes spin {100% {-webkit-transform: rotate(360deg); transform:rotate(360deg);}}
 
/*Flip images*/
.hflip {
display: inline-block;
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}
.vflip {
display: inline-block;
-moz-transform: scale(1, -1);
-webkit-transform: scale(1, -1);
-o-transform: scale(1, -1);
-ms-transform: scale(1, -1);
transform: scale(1, -1);
}

#snowContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100svh;
	z-index: 3;
	pointer-events: none;
	overflow: hidden;
}

.snow {
    position: absolute;
    width: 7px;
    height: 7px;
    background: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px white;
  
    animation-name: snowfall;
    animation-duration: var(--duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: var(--delay);
  
    transform: translate(var(--xStart), calc(0svh - 20px)) scale(var(--scale));
    opacity: var(--opacity);
}

.nonowa {
	position: absolute;
	width: 80px;
	height: 80px;
	background-image: url("https://www.dropbox.com/scl/fi/u6j9ji5ph5nxy2z2hdzck/.png?rlkey=6snykp8zoq6fu7vejpdp869bm&raw=1");
	background-size: contain;
	background-repeat: no-repeat;
	animation: nonowafall var(--duration) linear infinite;
	animation-delay: var(--delay);
	transform: scale(var(--scale)) rotate(var(--rotation));
	pointer-events: none;
	z-index: 999;
}

#drugged {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100svh;
	pointer-events: none;
	z-index: 9999;
	opacity: 0.5;
	background: red;
	mix-blend-mode: screen;
	animation: drugcolor 1s linear infinite;
	display: none;
}

@keyframes drugcolor {
	0% { background: red; }
	25% { background: lime; }
	50% { background: blue; }
	75% { background: magenta; }
	100% { background: red; }
}

@keyframes snowfall {
	from {
		transform: translate(var(--xStart), calc(0svh - 20px)) scale(var(--scale));
	}
	50% {
		transform: translate(var(--xMid), var(--yMid)) scale(var(--scale));
	}
	to {
		transform: translate(var(--xEnd), calc(100svh + 20px)) scale(var(--scale));
	}
}

@keyframes nonowafall {
	from {
		transform: translate(var(--xStart), calc(0svh - 20px)) scale(var(--scale)) rotate(var(--rotation));
	}
	50% {
		transform: translate(var(--xMid), var(--yMid)) scale(var(--scale)) rotate(var(--rotation));
	}
	to {
		transform: translate(var(--xEnd), calc(100svh + 20px)) scale(var(--scale)) rotate(var(--rotation));
	}
}

@keyframes diagonalScroll {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 250px 250px; 
	}
}

#messagebuffer::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("https://www.dropbox.com/scl/fi/c9svz4vnyoa8elrmupbh8/1645333131817.jpg?rlkey=ztkncjy4xv1zqevfc6k0l7isw&st=9fj8cxql&dl=1");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index:100;
	pointer-events: none;
}

.profile-box {
	max-width: 240px;
	z-index: 999 !important;
}

body.retardblock #messagebuffer::before {
	display: none !important;
}