/*.username::before{
	content:"AA";
	background:url('https://files.catbox.moe/rowfl7.png');
	background-size:16px !important;
	background-repeat:no-repeat !important;
	color:rgba(0,0,0,0);
	text-shadow: none !important;
}*/

#chatwrap{padding-bottom:0; padding-top:0; padding-right:15px; padding-left:15px; margin:0;}
#videowrap{padding-bottom:10px; padding-top:0; padding-right:15px; padding-left:15px; margin:0;}
#videowrap-header{background-color: #1C1E22;}
#motdwrap{display: none! important;}

.spoiler a {
    color: #000000;
    background-color: #000000;
    opacity: 0;
}

.spoiler:hover a {
    color: #ffffff;
    opacity: 1;
}

.nick-highlight {
    background-color: #272B30;
}

/*CSS pretty much complete now, anyone should be able to edit it. Backup at http://pastebin.com/FcpGvxi6 and http://pastebin.com/5Jz6980X*/
/*Try to adhere to the formatting if you're going to add new code*/
/*Backup of emotes is in the javascript section*/
/*Limits the size of the image from the picture embeds*/
#messagebuffer.linewrap img, #messagebuffer.linewrap video{max-width: 300px; max-height: 300px;}
.profile-image { width:125px; height:auto; max-height:300px;}
.profile-box {max-width: 137px; max-height: 500px !important;}
.modal-dialog{
width: 90%;}
 
.panel-primary {
border-color: white !important;
}
 
.panel-primary > .panel-heading {
    background-color:black !important;
    border-color: white !important;
}
/*Adds image to the user list window*/
#userlist {
            font-size: 10pt;
            background-color: #1C1E22;
            background-image: url(https://files.catbox.moe/z6xytn.png);
            background-position: bottom center;
            background-repeat: no-repeat;}
 
/*Wallpaper*/
/*Kud: http://i.imgur.com/ncl4gby.jpg*/
/*Miku: http://i.imgur.com/ivMqyoM.jpg, http://i.imgur.com/Au1bWKb.jpg*/
/*Original Paper: http://puu.sh/7QUn8.png*/
/*Komori: http://i.imgur.com/X5CH02Y.jpg*/
/*Oranges: http://www.nectarcafenj.com/files/oranges.jpg)*/
/*Botes: http://puu.sh/aHrs6/2e36260f66.jpg*/
/* halloween cuteness http://puu.sh/c2Uxe.png */
body {
background-image:url(https://files.catbox.moe/bpnnfb.jpg);
background-position: bottom right; background-attachment: fixed; background-size: cover;            
/*background-position: bottom left;*/
            /*background-attachment: fixed;*/
            /*background-size: fit;*/
            /*-webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;*/
}
 
/*Changes the color of the textA1FBFF*/
body, header, p, a, #mainpage {color:#c8c8c8 !important;}
 
/*Footer*/
P.text-muted.credit {font-size: 0px;} /*This part removes the previous text*/
P.text-muted.credit:after {content: "In Memorial of Xebec (1995-2019) ;-;"; font-size: 14px;} /*Footer Text*/
FOOTER#footer {opacity: 0.9;}
 
/*Adds suffix to messages*/
/*#messagebuffer div:after{content: "~de arimasu";}*/
 
/*Alternate message backgrounds*/
/*Alternate message backgrounds*/
#messagebuffer {background-color: #272B30;}
/*#messagebuffer div:nth-child(even) {background-color: #444444;}
#messagebuffer div:nth-child(odd) {background-color: #272B30;}
#messagebuffer div.nick-hover{ background-color: #111122;}
#messagebuffer div.nick-highlight, #messagebuffer div.nick-highlight > a{ color: #FFFFFF;}*/
 
/*Background for easier reading of some shit*/
DIV#plmeta, DIV#chatheader, P#currenttitle, DIV#plmeta {background-color: #1C1E22;}
#currenttitle, #chatheader, #messagebuffer, #userlist, #guestlogin, #chatline, #plmeta {border-color:#444444;}
 
/*For the spinning images*/
.spin, .spintext{
            -webkit-animation: spin 5ms linear infinite;
            -moz-animation: spin 5ms linear infinite;
            animation: spin 5ms linear infinite;}
@-webkit-keyframes spin {100% {-webkit-transform: rotate(360deg); transform:rotate(360deg);}}
@-moz-keyframes spin {100% {-moz-transform: rotate(360deg); transform:rotate(360deg);}}
@keyframes spin {100% {-webkit-transform: rotate(360deg); transform:rotate(360deg);}}
 
/*Flip images*/
.hflip {
display: inline-block;
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}
.vflip {
display: inline-block;
-moz-transform: scale(1, -1);
-webkit-transform: scale(1, -1);
-o-transform: scale(1, -1);
-ms-transform: scale(1, -1);
transform: scale(1, -1);
}
