/*.username::before{
	content:"AA";
	background:url('https://files.catbox.moe/rowfl7.png');
	background-size:16px !important;
	background-repeat:no-repeat !important;
	color:rgba(0,0,0,0);
	text-shadow: none !important;
}*/

#chatwrap{padding-bottom:0; padding-top:0; padding-right:15px; padding-left:15px; margin:0; opacity:0.975;}
#videowrap{padding-bottom:10px; padding-top:0; padding-right:15px; padding-left:15px; margin:0;}
#videowrap-header{background-color: #1C1E22; border-color: #444444;}
#motdwrap{display: none! important;}

.queue_entry{border-color: #444444}

@keyframes poll {
	0%   { color: rgb(97, 189, 218); }
	50%  { color: rgb(0, 112, 187); }
	100% { color: rgb(31, 208, 231); }
  }
  
.poll-notify {
	animation: poll 0.5s infinite;
}

.spoiler a {
    color: #000000;
    background-color: #000000;
    opacity: 0;
}

.spoiler:hover a {
    color: #ffffff;
    opacity: 1;
}

.nick-highlight {
    background-color: #272B30;
}

.userlist_owner, .userlist_op, .userlist_item, .userlist_guest{
	box-sizing: border-box;
	color: #89b6da !important;
	cursor: pointer;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13.3333px;
	line-height: 19.05px;
	font-weight: 400 !important;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
}

.username {
	box-sizing: border-box;
	color: #89b6da !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	overflow-wrap: break-word;
	white-space-collapse: preserve;
	text-wrap-mode: wrap;
}

.timestamp {
	box-sizing: border-box;
	color: #89b6da !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 10.6667px;
	line-height: 15.2333px;
	overflow-wrap: break-word;
	white-space-collapse: preserve;
	text-wrap-mode: wrap;
}

#modflair{
	display: none;
	pointer-events: none;
}

.qe_user, .qe_endTime {
    float: right;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-right: 2pt
}

.qe_time {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

@keyframes rollDubs {
	0%   { color: rgb(31, 231, 98); }
	50%  { color: rgb(28, 163, 73); }
	100% { color: rgb(31, 231, 98);}
  }
  
  @keyframes rollMax {
	0%   { color: rgb(252, 236, 19); }
	50%  { color: rgb(167, 156, 12); }
	100% { color: rgb(252, 236, 19);}
  }
  
  .roll-dubs {
	font-weight: bold;
	animation: rollDubs 0.5s infinite;
  }
  
  .roll-max {
	font-weight: bold;
	animation: rollMax 0.25s infinite;
  }

  .glyphicon.glyphicon-star-empty {
	font-weight: 700;
  }

body.theme-henneko .userlist_owner,
body.theme-henneko .userlist_op,
body.theme-henneko .userlist_item,
body.theme-henneko .userlist_guest,
body.theme-henneko .username,
body.theme-henneko .timestamp {
	color: #30e7a1 !important;
}
body.theme-henneko .glyphicon.glyphicon-star-empty {
	animation: leader-henneko 1s infinite;
}
@keyframes leader-henneko {
	0%   {color: #30e7a1}
	50%  {color: #30e7a1a6}
	100% {color: #30e7a1}
}

body.theme-hachiroku .userlist_owner,
body.theme-hachiroku .userlist_op,
body.theme-hachiroku .userlist_item,
body.theme-hachiroku .userlist_guest,
body.theme-hachiroku .username,
body.theme-hachiroku .timestamp {
	color: #dd858e !important;
}
body.theme-hachiroku .glyphicon.glyphicon-star-empty {
	animation: leader-hachiroku 1s infinite;
}
@keyframes leader-hachiroku {
	0%   {color: #dd858e}
	50%  {color: #dd858ea6}
	100% {color: #dd858e}
}

body.theme-hanyuu .userlist_owner,
body.theme-hanyuu .userlist_op,
body.theme-hanyuu .userlist_item,
body.theme-hanyuu .userlist_guest,
body.theme-hanyuu .username,
body.theme-hanyuu .timestamp {
	color: #c1a7e4 !important;
}
body.theme-hanyuu .glyphicon.glyphicon-star-empty {
	animation: leader-hanyuu 1s infinite;
}
@keyframes leader-hanyuu {
	0%   {color: #c1a7e4}
	50%  {color: #c1a7e4a6}
	100% {color: #c1a7e4}
}

body.theme-arisu .userlist_owner,
body.theme-arisu .userlist_op,
body.theme-arisu .userlist_item,
body.theme-arisu .userlist_guest,
body.theme-arisu .username,
body.theme-arisu .timestamp {
	color: #d8c89f !important;
}
body.theme-arisu .glyphicon.glyphicon-star-empty {
	animation: leader-arisu 1s infinite;
}
@keyframes leader-arisu {
	0%   {color: #d8c89f}
	50%  {color: #d8c89fa6}
	100% {color: #d8c89f}
}

body.theme-murasame .userlist_owner,
body.theme-murasame .userlist_op,
body.theme-murasame .userlist_item,
body.theme-murasame .userlist_guest,
body.theme-murasame .username,
body.theme-murasame .timestamp {
	color: #7cc97f !important;
}
body.theme-murasame .glyphicon.glyphicon-star-empty {
	animation: leader-murasame 1s infinite;
}
@keyframes leader-murasame {
	0%   {color: #7cc97f}
	50%  {color: #7cc97fa6}
	100% {color: #7cc97f}
}

body.theme-lum .userlist_owner,
body.theme-lum .userlist_op,
body.theme-lum .userlist_item,
body.theme-lum .userlist_guest,
body.theme-lum .username,
body.theme-lum .timestamp {
	color: #67c4b4 !important;
}
body.theme-lum .glyphicon.glyphicon-star-empty {
	animation: leader-lum 1s infinite;
}
@keyframes leader-lum {
	0%   {color: #67c4b4}
	50%  {color: #67c4b4a6}
	100% {color: #67c4b4}
}

body.theme-jun .userlist_owner,
body.theme-jun .userlist_op,
body.theme-jun .userlist_item,
body.theme-jun .userlist_guest,
body.theme-jun .username,
body.theme-jun .timestamp {
	color: #89b6da !important;
}
body.theme-jun .glyphicon.glyphicon-star-empty {
	animation: leader-jun 1s infinite;
}
@keyframes leader-jun {
	0%   {color: #89b6da}
	50%  {color: #89b6daa6}
	100% {color: #89b6da}
}

/*CSS pretty much complete now, anyone should be able to edit it. Backup at http://pastebin.com/FcpGvxi6 and http://pastebin.com/5Jz6980X*/
/*Try to adhere to the formatting if you're going to add new code*/
/*Backup of emotes is in the javascript section*/
/*Limits the size of the image from the picture embeds*/
#messagebuffer.linewrap img, #messagebuffer.linewrap video{max-width: 300px; max-height: 300px;}
.profile-image { width:125px; height:auto; max-height:300px;}
.profile-box {max-width: 137px; max-height: 500px !important;}
.modal-dialog{
width: 90%;}
 
.panel-primary {
border-color: white !important;
}
 
.panel-primary > .panel-heading {
    background-color:black !important;
    border-color: white !important;
}
/*Adds image to the user list window*/
#userlist {
            font-size: 10pt;
            background-color: #1C1E22;
            background-image: url(https://dl.dropboxusercontent.com/scl/fi/lo48sbm2triv5b84x7r5x/jun.png?rlkey=287w0ev2wcbjts7lxji7as847&st=2hdqqxbm&dl=0);
            background-position: bottom center;
            background-repeat: no-repeat;}
 
/*Wallpaper*/
/*Kud: http://i.imgur.com/ncl4gby.jpg*/
/*Miku: http://i.imgur.com/ivMqyoM.jpg, http://i.imgur.com/Au1bWKb.jpg*/
/*Original Paper: http://puu.sh/7QUn8.png*/
/*Komori: http://i.imgur.com/X5CH02Y.jpg*/
/*Oranges: http://www.nectarcafenj.com/files/oranges.jpg)*/
/*Botes: http://puu.sh/aHrs6/2e36260f66.jpg*/
/* halloween cuteness http://puu.sh/c2Uxe.png */
body {
background-image:url(https://dl.dropboxusercontent.com/scl/fi/l4ib85kakvgb3zy3ybhgd/jun_bg.jpg?rlkey=15nl9a52rpsilme38t25hrmdg&st=u3kl3evt&dl=0);
background-position: bottom right; background-attachment: fixed; background-size: cover;            
/*background-position: bottom left;*/
            /*background-attachment: fixed;*/
            /*background-size: fit;*/
            /*-webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;*/
}
 
/*Changes the color of the textA1FBFF*/
body, header, p, a, #mainpage {color:#c8c8c8 !important;}
body {
    overflow-x: hidden !important;
  }
 
/*Footer*/
P.text-muted.credit {font-size: 0px;} /*This part removes the previous text*/
P.text-muted.credit:after {content: "In Memorial of Xebec (1995-2019) ;-;"; font-size: 14px;} /*Footer Text*/
FOOTER#footer {opacity: 0.9;}
 
/*Adds suffix to messages*/
/*#messagebuffer div:after{content: "~de arimasu";}*/
 
/*Alternate message backgrounds*/
/*Alternate message backgrounds*/
#messagebuffer {background-color: #272B30;}
/*#messagebuffer div:nth-child(even) {background-color: #444444;}
#messagebuffer div:nth-child(odd) {background-color: #272B30;}
#messagebuffer div.nick-hover{ background-color: #111122;}
#messagebuffer div.nick-highlight, #messagebuffer div.nick-highlight > a{ color: #FFFFFF;}*/
 
/*Background for easier reading of some shit*/
DIV#plmeta, DIV#chatheader, P#currenttitle, DIV#plmeta {background-color: #1C1E22;}
#currenttitle, #chatheader, #messagebuffer, #userlist, #guestlogin, #chatline, #plmeta {border-color:#444444;}
 
/*For the spinning images*/
.spin, .spintext{
            -webkit-animation: spin 5ms linear infinite;
            -moz-animation: spin 5ms linear infinite;
            animation: spin 5ms linear infinite;}

.spintext {
    display: inline-block; /* Required for transform to work properly */
}

@-webkit-keyframes spin {100% {-webkit-transform: rotate(360deg); transform:rotate(360deg);}}
@-moz-keyframes spin {100% {-moz-transform: rotate(360deg); transform:rotate(360deg);}}
@keyframes spin {100% {-webkit-transform: rotate(360deg); transform:rotate(360deg);}}
 
/*Flip images*/
.hflip {
display: inline-block;
-moz-transform: scale(-1, 1);
-webkit-transform: scale(-1, 1);
-o-transform: scale(-1, 1);
-ms-transform: scale(-1, 1);
transform: scale(-1, 1);
}
.vflip {
display: inline-block;
-moz-transform: scale(1, -1);
-webkit-transform: scale(1, -1);
-o-transform: scale(1, -1);
-ms-transform: scale(1, -1);
transform: scale(1, -1);
}

#snowContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100svh;
	z-index: 3;
	pointer-events: none;
	overflow: hidden;
}

.snow {
    position: absolute;
    width: 7px;
    height: 7px;
    background: white;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 5px white;
  
    animation-name: snowfall;
    animation-duration: var(--duration);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: var(--delay);
  
    transform: translate(var(--xStart), calc(0svh - 20px)) scale(var(--scale));
    opacity: var(--opacity);
}

.nonowa {
	position: absolute;
	width: 80px;
	height: 80px;
	background-image: url("https://www.dropbox.com/scl/fi/u6j9ji5ph5nxy2z2hdzck/.png?rlkey=6snykp8zoq6fu7vejpdp869bm&raw=1");
	background-size: contain;
	background-repeat: no-repeat;
	animation: nonowafall var(--duration) linear infinite;
	animation-delay: var(--delay);
	transform: scale(var(--scale)) rotate(var(--rotation));
	pointer-events: none;
}

#drugged {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100svh;
	pointer-events: none;
	z-index: 9999;
	opacity: 0.5;
	background: red;
	mix-blend-mode: screen;
	animation: drugcolor 1s linear infinite;
	display: none;
}

@keyframes drugcolor {
	0% { background: red; }
	25% { background: lime; }
	50% { background: blue; }
	75% { background: magenta; }
	100% { background: red; }
}

@keyframes snowfall {
	from {
		transform: translate(var(--xStart), calc(0svh - 20px)) scale(var(--scale));
	}
	50% {
		transform: translate(var(--xMid), var(--yMid)) scale(var(--scale));
	}
	to {
		transform: translate(var(--xEnd), calc(100svh + 20px)) scale(var(--scale));
	}
}

@keyframes nonowafall {
	from {
		transform: translate(var(--xStart), calc(0svh - 20px)) scale(var(--scale)) rotate(var(--rotation));
	}
	50% {
		transform: translate(var(--xMid), var(--yMid)) scale(var(--scale)) rotate(var(--rotation));
	}
	to {
		transform: translate(var(--xEnd), calc(100svh + 20px)) scale(var(--scale)) rotate(var(--rotation));
	}
}

@keyframes diagonalScroll {
	0% { 
		background-position: 0 0; 
	}
	100% { 
		background-position: 250px 250px; 
	}
}
